BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 0

SpaceBeforeParens: ControlStatements

SpacesInParens: Custom
SpacesInParensOptions:
  InConditionalStatements: true
  InEmptyParentheses: false
  InCStyleCasts: false
  Other: true
  ExceptDoubleParentheses: true